# 🐬 MySQL Database Connection Settings
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_database_password
DB_DATABASE=env_live_data

# 🔑 Government Open Data API Keys
ENV_API_KEY=your_moenv_api_key
CWA_API_KEY=your_cwa_api_key

# 💡 MOTC TDX API Keys
TDX_CLIENT_ID=your_tdx_client_id
TDX_CLIENT_SECRET=your_tdx_client_secret